node_modules/
typings/
scripts_npm/
jspm_packages/

# map.js y js
app/**/*.js
app/**/*.js.map
back/**/*.js
back/**/*.js.map
contents_scripts/**/*.js
contents_scripts/**/*.js.map
enter_scripts/**/*.js
enter_scripts/**/*.js.map
packages_scripts/**/*.js
packages_scripts/**/*.js.map


./SMARTFRIGO.zip

