<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <titulo titulo="Burcar Órdenes de Salida" [showvolver]="false"></titulo>
        </div>
        <div class="panel-body">
            <span>Ver Órdenes</span>
            <select [(ngModel)]="Estado" (ngModelChange)="goToEstado(Estado)">
                <option value="0">Ingresadas</option>
                <option value="3">Preparadas</option>
                <option value="-1">Por Folio</option>
            </select>
            <span *ngIf="Estado == '-1'">
                <input type="number" [(ngModel)] = "Folio" placeholder="Ej.: 235" />
                <input type="button" (click) = "BuscarPorFolio(Folio)" value="Buscar Orden" />
                <img *ngIf="ShowPrgFolio" src="app/images/floating_rays.gif" alt="Cargando" height="20">

            </span>

        </div>
    </div>

    <div *ngIf="Ordenes?.length > 0" class="panel panel-default">
        <div class="panel-heading">Órdenes de Salida Para Facturar</div>
        <table class="table table-striped table-hover table-condensed">

            <tr>
                <th>#</th>
                <th>Fecha</th>
                <th>Folio</th>
                <th>Destino</th>
                <th>Direccion</th>
                <th>Documentos</th>
                <th>Rellenar</th>
            </tr>
            <tr *ngFor="let os of Ordenes; let i= index">
                <td>{{i + 1}}</td>
                <td>{{os.FechaDespacho | date:'yyyy-MM-dd'}}</td>
                <td>{{os.FolioCliente}}</td>
                <td>{{os.NombreDestino}}</td>
                <td>{{os.Direccion}}</td>
                <td>
                    <div *ngFor="let doc of os.Documentos">
                        <documento [documento]="doc"></documento>
                    </div>
                </td>
                <td>
                    <a class="label label-default" (click)="seleccionarOrden(os)">Todos</a>
                    <a class="label label-default" (click)="goToOrden(os)">
                    Seleccionar 
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                </td>

            </tr>
        </table>
    </div>

    <div class="text-center">
        <img *ngIf="!Ordenes" src="app/images/floating_rays.gif" alt="Cargando">
    </div>
</div>